/* Basic reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif; /* Changed font style to Roboto */
  line-height: 1.6;
  color: #333;
  background-color: #f4f4f4;
  padding: 20px;
}

header {
  background: #333;
  color: #fff;
  padding: 10px 0;
  text-align: center;
}

header h1 {
  margin-bottom: 10px;
}

nav a {
  color: #fff;
  text-decoration: none;
  margin: 0 15px;
}

main {
  margin-top: 20px;
}

.content-wrapper {
  background: #fff;
  padding: 20px; /* Added padding to ensure text does not touch the edges */
  border-radius: 5px;
  overflow: hidden; /* Ensure content does not overflow */
}

.post {
  margin-bottom: 10px;
}

.post h2 {
  margin-bottom: 10px;
}

.post ul {
  margin-left: 20px; /* Indent sub-points */
  list-style-type: disc; /* Use disc bullets for sub-points */
}

.post ol {
  margin-left: 20px; /* Indent ordered list */
}

footer {
  background: #333;
  color: #fff;
  text-align: center;
  padding: 10px;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}

/* New class to remove underline from links and make them black */
.no-underline {
  text-decoration: none;
  color: black;
}

article {
    background-color: #f0f0f0; /* Change this to your desired color */
    outline: 0.5px solid #cfcece; /* Change this to your desired outline color and width */
    padding: 10px; /* Optional: Add some padding inside the article */
}

.custom-bullet {
    list-style-type: none; /* Remove bullet points */
    padding: 0; /* Remove default padding */
    margin: 0; /* Remove default margin */
}

.post-meta {
    display: flex;
    gap: 10px; /* Adjust the gap as needed */
}

